/*HEADER*/

.header{
    position: fixed; height: 100px; width: auto;
     top:0%; left: 0%;
    right: 0%;
    background-color: #0e1a40;/*border:dashed 2px green;*/
    z-index: 99;
}
#focirc{
position: relative;
/*border: 5px solid black;*/
width: 100px;
margin-left: 50px;
}
#circle{
    position: absolute;
    border-radius: 50%;
    border: cornsilk 5px solid;
    background: #946b2d;
    z-index: 100;
    margin-top: 10px; 
    width: 75px; height: 75px;
}
th{
    padding: 1px 30px 1px; border: 1px black dotted; 
}
.header table{
    position: absolute;
    right: 5%; top: 50px;
    border-collapse: collapse;
    color: cornsilk;
}
body{
    background-color:  	#000000;
}

/*OSNOVA*/

#main{
    position: relative;
    width: 1060px;  height: 100%;
    top: 70px;
    left: 210px;
}

/*FIRST BLOCK*/

.block1{
    position: absolute; 
    /*border: 2px dashed blue;*/
    width:100%; height: 35em;
    background-color:  #222f5b;
    border-left: #946b2d groove  10px; border-right: #946b2d ridge 10px;
    border-bottom: #946b2d ridge 5px;
}
.block1 img{
    position: absolute;
    border-radius: 15px;
    border: #946b2d 5px outset;
}
#fio{
    position: absolute;
    left: 100px; top: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 2.2em; font-weight: bold;
    text-align:center;
    color:white;
    padding: 0px 5px 2px;
}
#agesity{
position: absolute;
top: 450px; left: 70px;
width: 250px;
color: #946b2d;
text-align:justify;
font-size: 18px; font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}
.skills{
    position: absolute;
    right: 80px; top: 45px;
    text-align: center;
}
.skills dt{
    text-align: left; 
    padding:2px 10px 2px;
    z-index: 30;
}
.skills dt figure{
    z-index: 29; background: #946b2d;
    margin:0 0 0;
    padding: 0px 5px 0px;
}
.bioback{
    position: relative;
    left: 36%; right: 24%;
    background-color: #5d5d5d;
    width: 35%; height: 100%;
    border-left: #0e1a40 ridge 5px;
    border-right: #0e1a40 groove 5px;
    padding: 0 10px 0;
}
.bio{
    position: absolute;
    width: 80%; height: auto;
    background-color: #222f5b;
    text-align: left;
    padding: 0px 5px 5px;
    padding-right: 20px;
    border: #0e1a40 double 5px;
}
.bio h4{margin-bottom: 0%; color:white}
.edu{
    top: 35px;
}
.skill{
    top: 210px;
}
.work{
    top: 405px; 
}
.bio figure{
position: absolute;
width: 10px; height: 30px;
transform: rotate(45deg);
border:#000000 double 3px;
background: #946b2d;
}
.r1{top:45px; right: -65px;}
.r2{top:50px; right: -65px;}
.r3{top:30px; right: -65px;}

/*SECOND BLOCK*/

.block2{
    position: absolute; top: 35.3em;
    border-top: #946b2d groove 5px;
    border-left: #946b2d groove  10px; 
    border-right: #946b2d ridge 10px;
    border-bottom: #946b2d ridge 5px;
    width:100%; height: 30em;
    background-color: #222f5b;
}
.galback{
    position: relative;
    background-color: #5d5d5d;
    width: 95%; height:80%; 
    left: 2.5%; right: 2.5%;
    border-radius: 20px;
    border: #0e1a40 double 5px;
}
.gal{
    height: 95%;width: 95%;
    /*background-color: #0e1a40;*/
    position: absolute;
    top: 2.5%; left: 2.5%;
    border-radius: 10px;
}
.gal table{
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    height: 95%;width: 100%;
}
.gal td{
    height: 100%; width: 500px;
    padding: 10px 20px 10px;
}
.galpic{
    height: 90%;width: 200px;
    border-radius: 15px;
}



/*TRETII BLOCK*/
#block3{
    position: relative; top: 65.9em;
    width: 100%; height: 35em;
    background-color: #222f5b;
    border-top: #946b2d groove 5px;
    border-left: #946b2d groove  10px; 
    border-right: #946b2d ridge 10px;
}

.footer{
    position: absolute; left: 0em; top:106em;
    width:100%; height: 10em;
    /*border: double rgb(151, 14, 192) 2px;*/
    background-color: #0e1a40;
    
}
.footer table{
    margin: 50px auto 0;
    color: white;
    font-size: 14px;
    font-style:italic;
    border-collapse: collapse;
    border: 0px;
    text-align: center;
}
.footer th{
    border: 0px;
    padding: 0px 100px 10px;
}
