.block {
    display: inline-block; 
    /*position: relative;*/
    /*margin-bottom: 50px;    
    margin: 20px auto;
    padding: 20px;
    vertical-align: middle; */
    line-height: 30px;
    font: 16px/1.4 Arial,sans-serif;
    /*color: teal;*/
  }
  #wrapper{
    width: 900px; 
    margin: 0 auto; 
    /*background:#3eb1b9;*/
  }
  #header{
position:relative; 
height: 100px; 
/*background-color: teal; */
 margin-bottom: 5px; 
border-radius: 5px; 
box-shadow: rgba(0,0,0,0.5) 0px 1px 3px; 
}
  #content{ 
margin-bottom: 5px; 
width: 676px; 
padding: 10px; 
background: #ffffff; 
border-radius: 5px;
box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;}
  #rightcont{
      background-color: #ffffff;
      width: 180px;
      padding: 10px; 
      float: right; 
      border-radius: 5px; 
      box-shadow: rgba(0,0,0,0.5) 0px 1px 3px; 
}